@import "tailwindcss";
@import "tw-animate-css";

:root  {
  --background: 260 31% 95%;
  --foreground: 260 5% 10%;
  --card: 260 31% 90%;
  --card-foreground: 260 5% 15%;
  --popover: 260 31% 95%;
  --popover-foreground: 260 95% 10%;
  --primary: 260 92% 42%;
  --primary-foreground: 0 0% 100%;
  --secondary: 260 30% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: 222 30% 90%;
  --muted-foreground: 260 5% 40%;
  --accent: 222 30% 90%;
  --accent-foreground: 260 5% 15%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 260 5% 90%;
  --border: 260 30% 82%;
  --input: 260 30% 50%;
  --ring: 260 92% 42%;
  --radius: 0.5rem;
}
.dark  {
  --background: 260 31% 10%;
  --foreground: 260 5% 90%;
  --card: 260 31% 10%;
  --card-foreground: 260 5% 90%;
  --popover: 260 31% 5%;
  --popover-foreground: 260 5% 90%;
  --primary: 260 92% 42%;
  --primary-foreground: 0 0% 100%;
  --secondary: 260 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 222 30% 25%;
  --muted-foreground: 260 5% 65%;
  --accent: 222 30% 25%;
  --accent-foreground: 260 5% 90%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 260 5% 90%;
  --border: 260 30% 50%;
  --input: 260 30% 50%;
  --ring: 260 92% 42%;
  --radius: 0.5rem;
}
